<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newburger="{{devour}}">
		{{#if devour}}DEVOUR ME!{{else}}NOT DEVOUR!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
